.profile-page {
    .signature-preview {
        width: 150px;
        height: 150px;
        border: 1px dashed rgba(black, 0.35);
        background-color: $grayF5;

        i {
            font-size: 40px;
            opacity: 0.35;
        }

        img {
            width: 100%;
            // height: 100%;
            // object-fit: cover;
        }
    }

    .avatar {
        width: 160px;
        height: 160px;

        img {
            width: 100%;
        }
    }
}
